<div class="container">
  <div class="card">

 <div class="col-sm-12"><p><center>Search for papers to see notes others have added or to add your own notes &#129299</center></p></div>
     <%= form_with scope: :article, url: articles_path, class: "form-inline col-sm-8 offset-sm-2 mb-4", local: true do |f| %>
    <%= f.text_field :url, class: 'form-control col-sm-10 my-1', placeholder: "Enter arxiv link e.g. https://arxiv.org/abs/1406.2661"%>
    <%= f.submit "Search", class: "btn btn-primary col-sm-2 my-1" %>
    <% end %>   

</div>

<div class="jumbotron vertical-top">

 <div class="col-sm-12 my-3"><h5>Recently annotated papers</h5></div>


	<% @recent_articles.each do |article| %>
		<div class = "card my-1">
			<div class = "card-text my-2 mx-2">
		<%= link_to article.title, article_path(:id => article.article_id, query: "public")%> | 
				<%= pluralize( article.num_notes, 'note') %>


	</div>
	<div class="blockquote-footer mx-2 my-1">
 <div class="float-right">
 	Last updated <%= time_ago_in_words(article.last_updated)   %> ago
<!-- 	 time zone issues in local, but should work on server 		
 --> 
</div>
</div>
	</div>
	<% end %>

</div>
</div>
