<!-- <header class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
        id="bs-example-navbar-collapse-1"> 
        <ul class="navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
      <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>

 
           <%= form_with scope: :article, url: articles_path, class: "navbar-form navbar-right", local: true do |f| %>
           <%= f.text_field :url, class: 'form-group form-control navbar_text col-sm-10', placeholder: "Enter arxiv link"%>
          <%= f.submit "Go", class: "form-group btn-sm navbar_button col-sm-2" %>
        <% end %>  



    </nav>
  </div>
</header>



 -->

 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class = "container">
    <li><%= link_to "Sample App", root_path, class:"navbar-brand" %></li>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li><%= link_to "Home", root_path, class:"nav-link" %></li>
      </li>
      <li class="nav-item">
        <li><%= link_to "Help", help_path, class:"nav-link" %></li>
       </li>

      <% if logged_in? %>

      <li class="nav-item">
        <li><%= link_to "Users", users_path, class:"nav-link" %></li>
       </li>



      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "Profile", current_user, class:"dropdown-item" %></li>
          <li><%= link_to "Settings", edit_user_path(current_user), class:"dropdown-item" %></li>
          <div class="dropdown-divider"></div>
          <li>
            <%= link_to "Log out", logout_path, method: "delete", class:"dropdown-item" %>
          </li>
        </ul>

      <% else %>
        <li><%= link_to "Log in", login_path, class:"nav-link" %></li>
      <% end %>


    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <%= form_with scope: :article, url: articles_path, class: "form-inline col-sm-5 my-1 my-lg-0", local: true do |f| %>
    <%= f.text_field :url, class: 'form-control col-9 my-1', placeholder: "Enter arxiv link"%>
    <%= f.submit "Go", class: "btn btn-light col-2 my-1 ml-2" %>
    <% end %>  

  </div>
</div>
</nav>